<!DOCTYPE HTML>
<html lang="en-US">

	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="onepage, Travel template, Hotel template">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="one page template">
		<!-- The above 5 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Home</title>
		<!-- Favicon -->
		<link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/x-icon">
		
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.css">
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="static/assets/fonts/font-awesome.css">
		<!--- owl carousel Css-->
		<link rel="stylesheet" href="static/assets/owlcarousel/css/owl.carousel.min.css">
		<link rel="stylesheet" href="static/assets/owlcarousel/css/owl.theme.default.min.css">
		<!--magnific-popup Css-->
        <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="static/assets/swiper/css/swiper.min.css">
		<!--- select Css-->
		<link rel="stylesheet" href="static/assets/css/cs-select.css">
		<!--- datepicker Css-->
		<link rel="stylesheet" href="static/assets/css/bootstrap-datepicker3.min.css">
		<!--animate Css-->
        <link rel="stylesheet" href="static/assets/css/animate.css">
		<!--slick-theme Css-->
        <link rel="stylesheet" href="static/assets/css/slick.css">
        <link rel="stylesheet" href="static/assets/css/slick-theme.css">
		<link rel="stylesheet" href="static/assets/css/slicknav.css">
		<!--odometer.min Css-->
        <link rel="stylesheet" href="static/assets/css/odometer.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="static/assets/css/style.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="static/assets/css/responsive.css">

	</head>

	<body>

		<!-- Page Wrapper -->
		<div class="page-wrapper">
		
			<!-- START PRELOADER  -->	
			<div id="atf-preloader">
				<div id="atf-ctn-preloader" class="atf-ctn-preloader">
					<div class="atf-animation-preloader">
						<div class="atf-text-loading">
							<span data-text-preloader="D" class="letters-loading">
								D
							</span>
							<span data-text-preloader="A" class="letters-loading">
								A
							</span>
							<span data-text-preloader="R" class="letters-loading">
								R
							</span>
							<span data-text-preloader="K" class="letters-loading">
								K
							</span>
							<span data-text-preloader="W" class="letters-loading">
								W
							</span>
							<span data-text-preloader="E" class="letters-loading">
								E
							</span>
							<span data-text-preloader="B" class="letters-loading">
								B
							</span>
						</div>
					</div>	
				</div>
			</div>
			<!-- END PRELOADER -->	
		
			<!-- START BACK TO TOP -->	
			<div class="back-to-top">
				<i class="fas fa-long-arrow-alt-up"></i>
			</div>
			<!-- END BACK TO TOP-->	
		
			<!-- STAR TOP HEADER-->
			<div id="atf_header_top" class="atf_header_top">
				<div class="container">
					<div class="row align-items-center">
						
						<div class="col-lg-4 col-md-4 col-5">
							<div class="atf_header_top_right">	
								<ul class="atf_header-social text-center">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fab fa-youtube"></i></a></li>
									
								</ul>	
							</div>			
						</div>
					</div>
				</div>
			</div>
			<!--END TOP HEADER -->
		
			<!-- START NAVBAR -->  
			<div id="atf_navigation" class="fixed-top atf-top-header navbar-light bg-faded atf-sticky-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-3 col-4">
							<div class="atf_site-logo">
								<a href="#"><img class="logo-black" src="static/assets/img/darkweb.png" alt=""></a>  
								<a href="#"><img class="logo-white" src="static/assets/img/darkweb.png" alt=""></a>
							</div>
						</div><!--- END Col -->
						
						<div class="col-lg-10 col-md-9 col-8 ">
							<div class="atf_header_right">
								<nav id="atf_nav-menu" class="ms-auto">
									<ul>
										
									<li><a href="#">Home</a></li>									  
									<li class="atf-menu-btn">
										<a class="atf-themes-btn text-white d-none d-xl-block" href="/logon"><span>Register</span></a>
									</li>
								</ul>
								</nav>
								<div id="mobile_menu"></div>
							</div>
						</div><!--- END Col -->
					</div><!--- END ROW -->
				</div><!--- END CONTAINER -->
			</div> 	  
			<!-- END NAVBAR -->
	
			<!-- START HOME DESIGN-->
			<section id="home" class="atf-paralux-area" >	
				<div class="atf-single-home atf-paralux-home" data-stellar-background-ratio="0.3" style="background-image: url(static/assets/img/slider/5.jpg);  background-size:cover; background-position: center center;">
					<div class="atf-home-overlay">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 col-md-7">
									<div class="atf-single-text atf-single-text2 text-center">
										<h1>
											Welcome To Dashboard!
										</h1>
										<p>
											Dark Side of the Web Dark Web Classification Based on TextCNN and Topic Modelling Weight
										</p>
										
										
									</div>
								</div><!--- END COL -->			  
							</div><!--- END ROW -->
						</div><!--- END CONTAINER -->
					</div><!--- END slide -->
				</div><!--- END slide -->			
			 </section>
			<!-- END  HOME DESIGN -->

			 <!-- START ABOUT DESIGN-->
			<section id="about" class="atf-about-area atf-section-padding atf-shape2-two">
				<img class="atf-shape-two" src="static/assets/img/shape/shape5.png" alt="">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-12">
							<div class="atf-section-title style1 mb-0  text-start">
								<h5 class="atf-sheading">About </h5>
								
								<p class="f-16 mt-3">
									Dark Web is another type of internet domain which will provide anonymity to browsing user which means User identity will be hidden for whatever he is browsing and this advantage provides malicious users to perform malicious activities with Dark web to avoid tracking. 
								</p>
								
								<p class="f-16 mt-3">
									Author has taken two Dark Web Dataset such as DUTA and CODA both dataset are not available online and we need to obtain this dataset by sending EMAIL to authors. I tried but authors has not sent the dataset so I used Dark Web dataset
								</p>
								
								
							</div>
						</div><!--- END COL -->
						
						<div class="col-xl-6 col-12 mt-lg-40 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
							<div class="atf-choose-img">
								<div class="atf-single-choose-img text-center">
									<img src="static/assets/img/choose.jpg" alt="Tour">
									<div class="waves-box">
									
										<div class="iq-waves">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
											<div class="waves wave-3"></div>
										</div>
									</div>
								</div>
							</div>
						</div><!--- END COL -->
					</div><!--- END ROW -->
				</div><!--- END CONTAINER -->
			</section>
			 <!-- END CHOOSE DESIGN-->
			 
			
			<div class="atf-footer-boottom text-center">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
							<p>&copy; Copyright - All Right Reserved. Designed by <a class="link" href="">Theme Family</a> </p>
						</div><!--- END COL -->
						
						<div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
							<ul class="atf-footer-social-icon text-end">
								<li>
									<a href="#" class="icon"> 
										<i class="fab fa-facebook"></i> 
									</a>
								</li>
								<li>
									<a href="#" class="icon"> 
										<i class="fab fa-dribbble"></i>  
									</a>
								</li>
								<li>
									<a href="#" class="icon"> 
										<i class="fab fa-behance"></i>
									</a>
								</li>
								<li>
									<a href="#" class="icon"> 
										 <i class="fab fa-twitter"></i> 
									</a>
								</li>
							</ul>
						</div>
					</div><!--- END COL -->
				</div><!--- END CONTAINER -->
			</div>
			<!-- FOOTER SECTION END-->	
			
		</div>
		 <!-- END OF PAGE WRAPPER-->		
	
		<!-- Latest jQuery -->
		<script src="static/assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
		<script src="static/assets/bootstrap/js/bootstrap.js"></script>
		<!-- modernizer JS -->		
		<script src="static/assets/js/modernizr.custom.js"></script>
		<!-- Typed JS -->
		<script src="static/assets/js/slick.js"></script>
		<!-- imagesloaded JS -->
		<script src="static/assets/js/imagesloaded.pkgd.js"></script>
		<!-- isotope.pkgd JS -->		
		<script src="static/assets/js/isotope.pkgd.min.js"></script>	
		<!-- owl-carousel min js  -->
		<script src="static/assets/owlcarousel/js/owl.carousel.min.js"></script>
		<!-- magnific-popup js -->	
		<script src="static/assets/js/jquery.magnific-popup.js"></script>
		<!-- classie js -->	
		<script src="static/assets/js/classie.js"></script>
		<!-- selectFx js -->		
		<script src="static/assets/js/selectFx.js"></script>
		<!-- datepicker js -->	
		<script src="static/assets/js/bootstrap-datepicker.min.js"></script>	
		<!-- tilt js -->
		<script src="static/assets/js/tilt.jquery.js"></script>
		<!-- Counter js -->
		<script src="static/assets/js/jquery.counterup.js"></script>
		<!-- waypoints js -->
		<script src="static/assets/js/waypoints.min.js"></script>
		<!-- odometer js -->
		<script src="static/assets/js/odometer.min.js"></script>
		<!-- jquery.appear js -->
		<script src="static/assets/js/jquery.appear.min.js"></script>
		<!-- easing js -->
		<script src="static/assets/js/easing.min.js"></script>
		<script src="static/assets/js/booking.js"></script>
		<!-- swiper js -->
		<script src="static/assets/swiper/js/swiper.min.js"></script>
		<!-- wow js -->
		<script src="static/assets/js/jquery.stellar.min.js"></script>
		<script src="static/assets/js/wow.min.js"></script>
		<script src="static/assets/js/jquery.slicknav.js"></script>
		<script src="static/assets/js/slicknav.js"></script>
		<!-- form-contact js -->
		<script src="static/assets/js/form-contact.js"></script>
		<!-- ajaxchimp js -->
		<script src="static/assets/js/ajaxchimp.min.js"></script>
		<!-- ripples js -->
		<script src="static/assets/js/jquery.ripples-min.js"></script>
		<!-- main js -->
		<script src="static/assets/js/main.js"></script>		

	</body>
</html>