<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-absolute">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/logon">Signup</a>
                      </li>
                       <li class="rd-nav-item active"><a class="rd-nav-link" href="/login">Login</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Section Promo-->
      <section class="section section-promo context-dark" id="home">
        <div class="section-promo-item"><img src="static/images/bg-custom-01.png" alt=""/>
        </div>
        <div class="section-promo-decor"><img src="static/images/decor-element-01-907x824.png" alt="" width="907" height="824"/>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <div class="box-size-custom">
                
                <h3 class="wow fadeInSmall" data-wow-delay=".4s">Welcome <span class="big">to Dashboard</span>
                </h3>
                <div class="block-promo wow fadeInDownSmall" data-wow-delay=".7s">
                  
                  <div class="block-promo-body">
                    <p class="text-gray-50 big">
                      Online Recruitment Fraud (ORF) Detection Using Deep Learning Approaches
                    </p>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section with rounded image-->
      <section class="section section-xl bg-default section-decoration-1" id="about">
        <div class="box-rounded-custom">
          <div class="container">
            <div class="row row-30 justify-content-md-center align-items-lg-center">
              <div class="col-md-9 col-lg-6">
                <div class="box-rounded-custom-image" data-parallax-scroll="{&quot;y&quot;: 60,  &quot;smoothness&quot;: 30}"><img src="static/123.jpg" alt="" width="667" height="615"/>
                  <div class="box-decor-image box-decor-image-01 custom-bg-image" data-parallax-scroll="{&quot;y&quot;: 120,  &quot;smoothness&quot;: 30}"></div>
                </div>
              </div>
              <div class="col-md-9 col-lg-6">
                <h2><span class="text-primary"> About</span</h2>
                <p class="big">
                  Now-a-days companies are using online platform to publish new jobs posting and some scammers are utilizing this opportunity to publish fake jobs to make money. All existing algorithms are trained on old job posting data which iss not suitable to predict current fraud job posting so author of this paper utilizing deep learning algorithms along with combination of 3 different jobs dataset to differentiate between fake and real jobs.
                </p>
                <p class="big">
                    In propose paper author employing Bidirectional Encoder Representations from Transformers (BERT) and Robustly Optimized BERT-Pre-training Approach (Roberta) to detect fake job postings precisely. In this paper, a novel dataset of fake job postings is proposed, formed by the combination of job postings from three different sources.
                </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
     <footer class="section footer-classic">
  <div class="container">
    <p class="rights">
      <span>&copy;&nbsp;</span>
      <span class="copyright-year"></span>
      <span>&nbsp;</span>
      <span>All Rights Reserved</span>
      <span>.&nbsp;</span>
      <a href="privacy-policy.html">Privacy Policy</a>
      <span>.</span>
    </p>
  </div>
</footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>